<h1 style="text-align: center;">List(mutable)</h1>

| Operation             | Time Complexity | Notes                                                             |
| --------------------- | --------------- | ----------------------------------------------------------------- |
| `ls.append(x)`        | **O(1)**        | Adds element to the end. Amortized constant time.                 |
| `ls.pop()`            | **O(1)**        | Removes last element.                                             |
| `ls.pop(i)`           | **O(n)**        | Removes element at index `i`; shifts elements left.               |
| `ls.insert(i, x)`     | **O(n)**        | Inserts at index `i`; shifts elements right.                      |
| `ls.remove(x)`        | **O(n)**        | Searches for `x` and removes first occurrence.                    |
| `ls.extend(iterable)` | **O(k)**        | Adds `k` elements to the end; proportional to length of iterable. k = len(iterable), here iterable can be list , set , tuple ,dictonary etc. |
| `ls.reverse()`        | **O(n)**        | Reverses list in-place.                                           |
| `ls.sort()`           | **O(n log n)**  | Uses Timsort (optimized hybrid sorting algorithm).                |

In [19]:
ls = [1,2,3,4]

# To insert single value at the last 
#can't insert multiple values .
ls.append(5)
print(ls)

# To insert value at certian index without overwriting 
ls.insert(3,'c')
print(ls)

[1, 2, 3, 4, 5]
[1, 2, 3, 'c', 4, 5]

In [20]:
temp = ['b','c']

# if you want to insert above value as a list and not individual values 
ls.append(temp)
print(ls)

# to insert whole list at a certain position 
# it slices the list from the mentioned idex value and then concatenates it back again 
#t = (1, 2, 4)
#t = t[:3] + (3,) + t[3:]    each slicing and concatenation is O(n)

ls.insert(3,temp)
print(ls)

#to indiviual values not in the form of list 
ls.extend(temp)
print(ls)

[1, 2, 3, 'c', 4, 5, ['b', 'c']]
[1, 2, 3, ['b', 'c'], 'c', 4, 5, ['b', 'c']]
[1, 2, 3, ['b', 'c'], 'c', 4, 5, ['b', 'c'], 'b', 'c']

In [21]:
# to remove values from the list 

# 1. Finds the value and removes it . Argument is necessary
ls.remove('c')
print(ls)

# 2. By default removes the last value and returns it. Can be used for using list as a stack
var = ls.pop()
print(var)
print(ls)

# 3. to pop a specific index
var = ls.pop(0)
print(var)
print(ls)

[1, 2, 3, ['b', 'c'], 4, 5, ['b', 'c'], 'b', 'c']
c
[1, 2, 3, ['b', 'c'], 4, 5, ['b', 'c'], 'b']
1
[2, 3, ['b', 'c'], 4, 5, ['b', 'c'], 'b']

In [22]:
# To reverse the list 
var2 = (ls.reverse()) # Time Complexity O(n)
print(var2)
print(ls)

None
['b', ['b', 'c'], 5, 4, ['b', 'c'], 3, 2]

In [23]:
df = []
d = {1:34, 2:45}

# if d is directly used with extend only key will be added to the list 
df.extend(d)
print(df)

# to insert values of the key 
df.extend(d[x] for x in d)
print(df)

# to insert whole dictonary 
df.append(d)
print(df)

[1, 2]
[1, 2, 34, 45]
[1, 2, 34, 45, {1: 34, 2: 45}]

| Function  | Time Complexity | Why?                                         |
| --------- | --------------- | -------------------------------------------- |
| `min(ls)` | **O(n)**        | Scans all elements to find the smallest one. |
| `max(ls)` | **O(n)**        | Scans all elements to find the largest one.  |
| `sum(ls)` | **O(n)**        | Adds all elements, one by one.               |

Note:
1. These are all O(n) for plain Python lists.
2. If you're using NumPy arrays, the performance can be faster due to C-level optimizations, but time complexity remains O(n).

In [24]:
# Other built in list methods 
ls = [1,9,6,3,5]
print('minmum value in the list = ',min(ls))
print('maximum value in the list = ',max(ls))
print('sum of all the value in the list = ',sum(ls))

minmum value in the list =  1
maximum value in the list =  9
sum of all the value in the list =  24

In [25]:
# to find value 

# 1. as per the value get index position 
print(ls.index(9))

# 2. to get a boolen value for value present or not 
print(1 in ls)
print(10 in ls)

1
True
False

In [26]:
# to print value 

# 1. without index 
for value in ls:
    print(value)
print('-------------')

# 2. with index 
for index, value in enumerate(ls): # by default start returning index value as 0
    print(index,' -> ', value)
print('-------------')
    
# 3. to start printing values from a random start 
for index, value in enumerate(ls, start=10):
    print(index,' -> ', value)

1
9
6
3
5
-------------
0  ->  1
1  ->  9
2  ->  6
3  ->  3
4  ->  5
-------------
10  ->  1
11  ->  9
12  ->  6
13  ->  3
14  ->  5

In [ ]:
ls = ['a','b','c']

# Converting list into string . Values inside the list should also be string not int
str = ' , '.join(ls)
print(str)

# Converting string into list
# I didnt consider space in as a argument so it is carried inside the list 
temp = str.split(',')
print(temp)

temp = str.split(' , ')
print(temp)

# empty list 
var_list = [] 
var_list = list() # using class to create an instance . Calling constructor

a , b , c
['a ', ' b ', ' c']
['a', 'b', 'c']

<h1 style="text-align: center;">Tuple (immutable)</h1>

1. After defining values can't be changed 
2. No new item can be appended or extended 
3. Only traversing is aloud

In [28]:
tuple_1 = (1,2,5,4,7,3)

# Sorting tuple 
# .sort() is not its attribute 
# sorted() function sorts it and converts into list
temp = sorted(tuple_1)
print(temp)

# insert value in tuple 
tuple_1.append(4)
print(tuple_1)

[1, 2, 3, 4, 5, 7]

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# New value can't be directly inserted , instead convert it into list and then back to tuple 
print('Before adding new value : ',tuple_1)
temp = list(tuple_1)
temp.append(10)
tuple_1 = tuple(temp)
print('After adding new value : ',tuple_1)
# time complexity is O(n)

# empty tuple 
var_list = [] 
var_list = tuple() # using class to create an instance . Calling constructor

Before adding new value :  (1, 2, 5, 4, 7, 3)
After adding new value :  (1, 2, 5, 4, 7, 3, 10)

<h1 style="text-align: center;">Sets (immutable)</h1>

1. Values are unorderd -> Has no index value , means values don't have fixed sequence while traversing . Each time a set is printed can return different sequence of values 
2. Have no duplicates -> Removes duplicates even if declared purposely . It simply drops them

In [2]:
set_1 = {1,2,5,4,1}
temp = set_1
print('duplicate is dropped : ',temp)
print('duplicate is dropped : ',temp)

set_2 = {'asgf','cgdg','bsdf'}
print(set_2)

duplicate is dropped :  {1, 2, 4, 5}
duplicate is dropped :  {1, 2, 4, 5}
{'asgf', 'bsdf', 'cgdg'}

In [6]:
set_3 = {99, 5, 3, 20, 1}
print(set_3)

{1, 99, 3, 5, 20}

Why the order seems stable even after printing mutiple times:-
1. Python sets use hash tables under the hood.
2. From Python 3.7 onward, insertion order is preserved in dictionaries, and due to shared internal structures, sets may appear to preserve it too — but this is not officially guaranteed.
3. That’s why printing the same set multiple times shows the same order — as long as:-

    1. You don’t modify the set.
    2. The program is running in the same session.
    3. The hash seed isn’t randomized.

In [8]:
# Membership Test
print(5 in set_1)
print(12 in set_1)

# Can be done for Tuple and List but 
# Sets are optimized for this and have lowest time complexity when comes at checking whether a value is in the set or not

True
False

In [11]:
# Qucik in comparing itself with other sets 
temp1 = {'math','hindi','DSA'}
temp2 = {'math','hindi','CNP', 'OS'}

# 1. to print common values 
print(temp1.intersection(temp2))
print(temp2.intersection(temp1))

{'math', 'hindi'}
{'math', 'hindi'}

In [14]:
# 2. to print value that are in temp1 and not in temp2 
print(temp1.difference(temp2))
print(temp2.difference(temp1)) # value that are in temp2 and not in temp1

{'DSA'}
{'CNP', 'OS'}

In [16]:
# 3. To combine all the values of both sets 
print(temp1.union(temp2))
print(temp2.union(temp1))
# simple all the set rules can be applied

{'math', 'CNP', 'hindi', 'DSA', 'OS'}
{'math', 'CNP', 'hindi', 'DSA', 'OS'}

In [ ]:
# To declare empty set 
var_set = {} # This will declare empty dictonary and not set 
var_set = set() # always constructor of the class set is used